{% set panel_template = 'panel-test.twig' %}

<div class="accordion-test max-w-screen-2xl w-full mx-auto" data-single="{{ single }}">
    <div class="colby-accordion-block border-b border-gray-300">
        <InnerBlocks
        template="{{ panel_template }}"
        />
    </div>
</div>
<script>
// we need to wait for jQuery to load
setTimeout(() => {
  jQuery.fn.accordion = function(speed){
    this.on('click', '.accordion__button', function(e){
      e.preventDefault();
      var $accordion = jQuery(this).closest('.accordion-test');
      var $panel = jQuery(this).closest('.accordion__panel');
      var $window = $panel.children('.accordion__window');
      var $content = $window.children('.accordion__content');
      
      if ($accordion.data('single') === 1) {
        // Close all other panels
        $accordion.find('.accordion__window').not($window).css({'height': '0px', 'visibility': 'hidden'});
      }
      
      if ($window.css('visibility') === 'hidden' || $window.outerHeight(true) === 0) {
        $window.css({'height': $content.outerHeight(true) + 'px', 'visibility': 'visible'});
      } else {
         $window.css({'height': '0px', 'visibility': 'hidden'});
      }
    });
    return this;
  }
  jQuery('.accordion-test').accordion(250).fadeIn();
}, 1500);

</script>
