{% if in_component_library %}
  {% set context = '@context' %}
  {% set buttonGroup = '@button-group' %}
{% else %}
  {% set context = 'context.twig' %}
  {% set buttonGroup = 'button-group.twig' %}
{% endif %}

<div class="inset-widget">
  <div class="inset-widget__inner md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full my-0 mx-auto">
    <div class="inset-widget__main {% if inset|default(true) %} md:col-span-10 md:col-start-2 {% else %} md:col-span-12 {% endif %}">
      <div class="inset-widget__widget md:flex justify-between items-center p-10 bg-gray-100 border border-solid border-azure rounded-lg space-y-5 md:space-y-0">
        {% include context with {
          size: size ? size : 'medium',
          subheading: subheading,
          heading: heading,
          paragraph: paragraph
        } %}
        {% if buttons %}
          {% include buttonGroup with {
            size: 'large',
            items: buttons,
          } %}
        {% endif %}
      </div>
    </div>
  </div>
</div>