{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<div class="colby-paragraph-block module font-body 
    [&_p]:text-indigo-900:mb-4 
    [&_table]:mb-4 
    [&_hr]:mb-4 
    [&:last-child]:mb-0">
  {{ paragraph_text }}
</div>