

  
<div class="dark-interstitial py-24  bg-indigo [&+.dark-interstitial]:mt-0">
    <div class="dark-interstitial__inner relative md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <div class="dark-interstitial__main md:col-start-3 md:col-span-8">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold text-14 leading-130 tracking-8 text-center text-canary uppercase">Proof</div>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-white mt-2">Stat headline lorem ipsum dolor sit amet.</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-200 mt-2">Integer eu odio nec mauris commodo porta. Integer lobortis semper velit, id semper magna consectetur id. Donec facilisis hendrerit quam at suscipit. Suspendisse finibus iaculis massa id suscipit. Aliquam a vehicula nunc, vel interdum nisi.</p>
  </component>

  </div>    </div>
  </div>
      <div class="dark-interstitial__inner relative md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto mt-12">
      <div class="dark-interstitial__figures md:col-start-3 md:col-span-8 grid grid-cols-8 gap-x-10 max-w-screen-2xl w-full">
                  <component is="dark-interstitial-fact" class="dark-interstitial__fact col-span-4 space-y-3">
            <h3 class="font-extended font-normal text-36 text-canary leading-100">57%</h3>
            <p class="font-body font-normal text-14 text-indigo-200 leading-130">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
          </component>
                  <component is="dark-interstitial-fact" class="dark-interstitial__fact col-span-4 space-y-3">
            <h3 class="font-extended font-normal text-36 text-canary leading-100">57%</h3>
            <p class="font-body font-normal text-14 text-indigo-200 leading-130">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
          </component>
              </div>
    </div>
    </div>
