


  
<div class="hero relative py-20 space-y-16">
  <div class="hero__inner grid md:items-center md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto space-y-16 md:space-y-0">
    <div class="hero__main  md:col-span-8">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
        
  
<component is="text-group" class="text-group text-group--animated">
      <h1 class="text-group__subheading font-extended font-bold text-14 leading-130 tracking-8 text-left text-azure uppercase">Majors & Minors</h1>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-left text-indigo mt-2">Lorem ipsum dolor sit amet consec dolor.</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-left text-indigo-800 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

  </div>    </div>
          <div class="hero__secondary md:col-span-4">
        <div class="hero__image relative  md:pb-[80.55555555555556%]  pb-[70.73170731707317%] ">
                <picture>
      <source media="(min-width:768px)" srcset="https://via.placeholder.com/600x600">
      <img
        class="absolute top-0 left-0 w-full h-full object-cover"
        src="https://via.placeholder.com/600x600"
        alt="Test alt"
      />
    </picture>
  
        </div>
                  <p class="hero__caption font-body font-normal text-12 text-indigo-800 leading-140 mt-2">Caption lorem ipsum dolor sit amet.</p>
              </div>
      </div>
    <div class="hero__pattern z-[-1] absolute bg-hero__pattern top-0 left-0 w-full h-full opacity-50 !mt-0"></div>
</div>
