


  
<div class="hw-image-section full-bleed md:flex bg-indigo-100 [&+.hw-image-section]:mt-0">
  <div class="hw-image-section__image relative md:w-1/2">
                <picture>
      <source media="(min-width:768px)" srcset="https://via.placeholder.com/760x430">
      <img
        class="w-full min-h-full object-cover"
        src="https://via.placeholder.com/480x480"
        alt="Test alt"
      />
    </picture>
  
      </div>
  <div class="hw-image-section__context flex justify-center items-center  md:w-1/2 py-9 md:py-12 px-9 md:px-12 lg:px-24">
    
  

  
<div class="context w-full space-y-5">
  

  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended    leading-110 -tracking-3 text-left text-indigo mt-2">Majors and Minors</h2>
        <p class="text-group__p font-body font-normal   leading-130 text-left text-indigo-800 mt-2">Choose from 56 majors and 35 minors, or design your own independent major. You’ll have extensive flexibility and valuable guidance when it comes to preparing for your future.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            

                

<a class="btn group inline-flex flex-row items-center  rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal  leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px]   transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Majors and Minor at Colby
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>  </div>
</div>
