


<div class="image-grid grid grid-cols-8 gap-10 max-w-screen-2xl w-full">
      <div class="image-grid__item col-span-8 md:col-span-4">
      <div class="image-grid__image relative pb-[100%]">
                        <picture>
      <source media="(min-width:768px)" srcset="https://via.placeholder.com/880x430">
      <img
        class="absolute w-full h-full object-cover"
        src="https://via.placeholder.com/600x600"
        alt="Test alt"
      />
    </picture>
  
              </div>
          </div>
  </div>
