

  
<div class="list-block-grid grid grid-cols-12 gap-10 max-w-screen-2xl w-full my-0 mx-auto">
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Boston</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact Boston Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">New York City</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact New York Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Washington DC</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact DC Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Chicago</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact Chicago Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">San Francisco</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact SF Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Portland, ME</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact Portland Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Denver</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact Denver Volunteer</p>
  </component>

  </div></div>    </div>
      <div class="list-block-grid__item col-span-12 md:col-span-3">
        
<div class="list-block h-full py-6 px-8  bg-gray-100  border border-solid border-azure rounded-md">
  
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-bold text-24 md:text-18 leading-110 -tracking-3 text-left text-indigo mt-2">Los Angeles</h2>
        <p class="text-group__p font-body font-normal text-12 md:text-12 leading-130 text-left text-indigo-800 mt-2">Contact LA Volunteer</p>
  </component>

  </div></div>    </div>
  </div>
