

  

<div class="list-context">
  <div class="list-context__inner md:grid grid-cols-8 gap-10 max-w-screen-2xl w-full space-y-8 md:space-y-0">
    <div class="list-context__context md:col-span-5">
      
  
  
  
<div class="context w-full space-y-5">
  
        
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal  text-20 leading-110 -tracking-3 text-left text-indigo mt-2">Category lorem ipsum</h2>
        <p class="text-group__p font-body font-normal  text-14 leading-130 text-left text-indigo-800 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

  </div>    </div>
    <div class="list-context__main md:col-span-3">
      <ul class="list-context__list space-y-2 ml-4">
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <span class="text-indigo">Lorem ipsum dolor sit amet, consectet.</span>
                      </li>
                  <li class="font-body  font-semibold text-14 leading-130  text-indigo-600 list-disc">
                          <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem ipsum dolor sit amet, consectet.</a>
                      </li>
              </ul>
    </div>
  </div>
</div>
