


    
<component
  is="overlay-hero"
  v-slot="overlayHero"
  class="overlay-hero relative  h-[calc(100vh_-_100px)]  overflow-hidden"
>
  <div
    :class="{'invisible opacity-0': overlayHero.active == true}"
    class="overlay-hero__bottom z-[11] absolute bottom-0 left-0 w-full pt-40 pb-16 space-y-12 md:space-y-20 transition-all duration-200 ease-in-out"
    style="background: linear-gradient(180deg, rgba(1, 33, 105, 0) 0%, rgba(14, 20, 34, 0.4) 25%)"
  >
    <div class="overlay-hero__inner grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
      <div class="overlay-hero__main md:col-span-5">
        
  

  
<div class="context w-full space-y-5">
  

  
      
        
  
<component is="text-group" class="text-group text-group--animated">
      <h1 class="text-group__subheading font-extended font-bold  leading-130 tracking-8 text-left text-canary uppercase">Person Title</h1>
        <h2 class="text-group__heading font-extended    leading-110 -tracking-3 text-left text-white mt-2">Person Name</h2>
        <p class="text-group__p font-body font-normal   leading-130 text-left text-indigo-200 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            

            

<a class="btn group inline-flex flex-row items-center  rounded border border-solid border-indigo-800 hover:border-indigo-800 font-body font-normal  leading-130 !no-underline text-white bg-indigo/20   focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px]   transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Read Full Bio
    <div class="btn__border block bg-white h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>              </div>
    </div>
  </div>
                  <picture>
      <source media="(min-width:768px)" srcset="https://scontent-lga3-1.xx.fbcdn.net/v/t1.6435-9/91178111_10163414111835245_2367827633632182272_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2cOMYARLyTcAX-diKsQ&_nc_ht=scontent-lga3-1.xx&oh=00_AT_RBmCeiyy73ckwKFqpYNtborIo_rLd4H20bDTgMyuXgA&oe=62EFB4F5">
      <img
        class="z-[-10] absolute top-0 left-0 w-full h-full object-cover"
        src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.6435-9/91178111_10163414111835245_2367827633632182272_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2cOMYARLyTcAX-diKsQ&_nc_ht=scontent-lga3-1.xx&oh=00_AT_RBmCeiyy73ckwKFqpYNtborIo_rLd4H20bDTgMyuXgA&oe=62EFB4F5"
        alt="Test alt"
      />
    </picture>
  
      </component>
