

  
<div class="stat-group">
  <div class="stat-group__inner md:grid grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 space-y-24 my-0 mx-auto">
    <div class="stat-group__intro md:col-start-2 lg:col-start-3 md:col-span-10 lg:col-span-8">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
          <p class="text-group__p font-body font-normal text-20 md:text-20 leading-130 text-center text-indigo-800 mt-2">Overlooking the small city of Waterville and the Kennebec River Valley, Colby is just an hour from Maine’s picturesque seacoast or rugged mountain terrain. We are also 60 minutes away from Portland, Maine’s largest city.</p>
  </component>

  </div>    </div>
    <div class="stat-group__main col-span-12 lg:col-start-2 lg:col-span-10">
      <div class="grid grid-cols-8 gap-10">
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
                  <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">Stat</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
              </div>
    </div>
  </div>
</div>
