{% set panel_template = 'advanced-accordion-panel.twig' %}

<div class="advanced-accordion max-w-screen-2xl w-full mx-auto" data-single="{{ single }}">
    <div class="colby-advanced-accordion-block border-b border-gray-300">
        <InnerBlocks
        template="{{ panel_template }}"
        />
    </div>
</div>
<script>
// we need to wait for jQuery to load
setTimeout(() => {
  jQuery.fn.accordion = function(speed){
    this.on('click', '.advanced-accordion__button', function(e){
      e.preventDefault();
      
      var $accordion = jQuery(this).closest('.advanced-accordion');
      var $panel = jQuery(this).closest('.advanced-accordion__panel');
      var $window = $panel.children('.advanced-accordion__window');
      var $content = $window.children('.advanced-accordion__content');
      var $blocks = $window.children('.advanced-accordion__content').children();
      
      if ($accordion.data('single') === 1) {
        // Close all other panels
        $accordion.find('.advanced-accordion__window').not($window).css({'height': '0px', 'visibility': 'hidden'});
        $accordion.find('.advanced-accordion__button').not(this).removeClass('rotate-90');
      }
      
      if ($window.css('visibility') === 'hidden' || $window.outerHeight(true) === 0) {
        $blocks.children('div').css({'marginBottom': '2rem'});  // Add margin bottom to all child elements
        $window.css({'height': $content.outerHeight(true) + 'px', 'visibility': 'visible', 'paddingBottom': '2rem'});
        jQuery(this).addClass('rotate-90');
      } else {
         $window.css({'height': '0px', 'visibility': 'hidden', 'paddingBottom': 0});
         $blocks.children().css({'marginBottom': '2rem'});
         jQuery(this).removeClass('rotate-90');
      }
    });
    return this;
  }
  jQuery('.advanced-accordion').accordion(250).fadeIn();
}, 500);


</script>
