@import 'global/reset';
@import 'global/variables';
@import 'global/fonts';
@import 'global/layout';
@import 'utilities/typography';
@import 'utilities/buttons';

.sidebar-page__main {
    ul {
        list-style-type: disc;
        padding: 0 0 0 40px;
    }

    ol {
        list-style-type: decimal;
        padding: 0 0 0 40px;
    }

    ul,
    ol {
        ul {
            list-style-type: circle;
        }

        ul,
        ol {
            ul {
                list-style-type: square;
            }
        }
    }
}
