@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use 'global/variables';
@use 'global/layout';
@use '../twig/components/advanced-accordion/advanced-accordion';

@mixin lists() {
    ul:not(.pagination__container):not(.directiory_information) {
        @apply list-disc;
        @apply pl-10;
        @apply text-indigo;
        @apply mb-4;

        li {
            @apply text-indigo-900;
            @apply mt-2;
            @apply font-body;
        }
    }

    ol {
        @apply list-decimal;
        @apply pl-10;
        @apply text-indigo;
        @apply mb-4;

        li {
            @apply text-indigo-900;
            @apply mt-2;
            @apply font-body;
        }
    }

    ul:not(.pagination__container):not(.directiory_information),
    ol {
        ul {
            @apply list-circle;
        }

        ul,
        ol {
            ul {
                @apply list-square;
            }
        }
    }
}

@mixin colby-paragraph-block() {
    @apply font-body;

    > p {
        @apply text-indigo-900;
    }

    > p,
    > table,
    hr {
        @apply mb-4;
    }

    &:last-child {
        @apply mb-0;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
        @apply mb-0;
    }

    table,
    tr,
    td {
        border: 1px solid #ccc;
    }
}

@mixin heading2() {
    @apply text-24;
    @apply leading-110;
    @apply -tracking-3;
    @apply text-indigo;
    @apply font-extended;
    @apply font-normal;
}

@mixin heading3() {
    @apply text-20;
    @apply leading-110;
    @apply -tracking-3;
    @apply text-indigo;
    @apply font-extended;
    @apply font-normal;
}

@mixin heading4() {
    @apply text-16;
    @apply leading-110;
    @apply -tracking-3;
    @apply text-indigo;
    @apply font-extended;
    @apply font-normal;
}

@mixin heading5() {
    @apply text-14;
    @apply font-bold;
    @apply leading-130;
    @apply -tracking-8;
    @apply text-azure;
    @apply uppercase;
    @apply font-extended;
    @apply font-normal;
}

@mixin heading6() {
    @apply text-12;
    @apply leading-110;
    @apply -tracking-8;
    @apply text-azure;
    @apply uppercase;
    @apply font-extended;
    @apply font-normal;
}

@mixin block-quote() {
    @apply w-full;
    @apply mx-auto;
    @apply pl-24;
    @apply max-w-screen-2xl;
    > svg {
        @apply left-10;
    }
}

@mixin body-links() {
    @apply underline;
    @apply hover:no-underline;
    @apply hover:text-indigo;
    @apply font-body;
    @apply text-indigo-900;
}

/* Body No Scroll */
.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* Page w/ sidebar content styles */
.wysiwyg,
.advanced-accordion__content > .acf-innerblocks-container {
    h2 {
        @include heading2();
    }

    h3 {
        @include heading3();
    }

    h4 {
        @include heading4();
    }

    h5 {
        @include heading5();
    }

    h6 {
        @include heading6();
    }

    a {
        @include body-links();
    }

    // lists
    @include lists();

    // general divs for blocks, etc
    > div {
        @apply clear-both;
        @apply mb-20;
    }

    > div:last-child {
        @apply mb-0;
    }

    .wp-block-heading {
        margin-bottom: 0.8rem;
    }

    .wp-block-paragraph {
        @apply mb-0;
        > p {
            @apply text-indigo-900;
            @apply mb-4;
            @apply font-body;
        }
    }

    // table block
    .colby-table-block {
        td {
            a {
                @apply no-underline;
            }
            a:hover {
                @apply underline;
            }
        }
    }

    // paragraph block
    .colby-paragraph-block {
        @include colby-paragraph-block();
    }

    // image with text block
    .colby-image-text-block {
        p {
            @apply mb-4;
            @apply text-indigo-900;
            @apply font-body;
        }
    }

    // accordion block
    .colby-accordion-block {
        p {
            @apply mb-4;
            @apply text-indigo-900;
        }

        p,
        ul,
        ol {
            @apply font-normal;
            @apply font-body;
            @apply text-16;
            @apply leading-140;
        }
    }

    // heading block
    .wp-block-heading {
        > h2 {
            @apply text-indigo;
        }
    }

    // embed block
    .wp-block-embed {
        .wp-element-caption {
            @apply font-body;
            @apply text-indigo-900;
            @apply font-normal;
        }
    }

    // group block
    .wp-block-group__inner-container {
        > div {
            @apply mb-4;
        }
    }
}

/* Directory profile page */
.directory-person-main {
    .colby-table-block {
        margin-top: 0.5rem !important;
    }
}

.list-section__list {
    li {
        list-style-type: none;
        position: relative; /* It's needed for setting position to absolute in the next rule. */
    }

    li::before {
        content: '•';
        position: absolute;
        left: -0.7em; /* Adjust this value so that it appears where you want. */
        font-size: 1.5em; /* Adjust this value so that it appears what size you want. */
        @apply text-indigo-600;
    }
}

.colby-table-styles {
    @apply font-body;
    @apply text-indigo;
    @apply text-16;
    @apply md:text-12;
}

.wysiwyg .colby-table-styles tbody a {
    text-decoration: underline;
}

.wysiwyg .colby-table-styles > tbody a:hover {
    text-decoration: none;
}

/* Directory Gravity Form */
.gform_wrapper {
    input:not([type='file']):not([type='submit']) {
        border: 1px solid #b7c2d5;
        border-radius: 3px;
    }
    textarea {
        border: 1px solid #b7c2d5;
        border-radius: 3px;
    }
    select {
        border: 1px solid #b7c2d5;
        border-radius: 3px;
        padding: 5px;
    }
    input[type='submit'] {
        background-color: #002878;
        border: 2px solid #002878;
        color: #fff;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 4px;
    }
    input[type='submit']:hover {
        background-color: #fff;
        border: 2px solid #002878;
        color: #003878;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: underline;
    }
    input[type='submit']:focus {
        background-color: #fff;
        border: 2px solid #002878;
        color: #003878;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: underline;
    }
    .remove-field {
        margin-bottom: 2rem;
        label {
            margin-left: 0.5rem;
        }
    }

    .gchoice {
        label {
            margin-left: 0.5rem;
        }
    }
}

/* Password Protection Styles */
.post-password-form input[type='password'] {
    border: 1px solid #ccc;
}

.post-password-form input[type='submit'] {
    border: 1px solid #002878;
    background-color: #002878;
    color: #fff;
    padding: 1px 10px;
}

// Styles used for the page__main class in the default template
.page_main_template_styles {
    > div + div {
        @apply mt-20;
        @apply md:mt-[100px];
        @apply max-w-screen-2xl;
        @apply mx-auto;
    }

    a {
        @include body-links();
    }

    > .wp-block-heading h2,
    > .wp-block-group h2 {
        @include heading2();
    }

    > .wp-block-heading h3,
    > .wp-block-group h3 {
        @include heading3();
    }

    > .wp-block-heading h4,
    > .wp-block-group h4 {
        @include heading4();
    }

    > .wp-block-heading h5,
    > .wp-block-group h5 {
        @include heading5();
    }

    > .wp-block-heading h6,
    > .wp-block-group h6 {
        @include heading6();
    }

    .full-bleed {
        @apply max-w-full;
    }

    > div.colby-paragraph-block:first-child {
        @apply mt-10;
    }
    > div.colby-image-block:first-child {
        @apply mt-10;
    }

    > div.colby-image-text-block:first-child {
        @apply mt-10;
    }

    .block-quote {
        @include block-quote();
    }

    > .colby-paragraph-block {
        @apply w-full;
        @apply mx-auto;
        @apply px-4;
        @include colby-paragraph-block();
        a {
            @include body-links();
        }
    }

    .advanced-accordion {
        @apply px-4;
        @apply xl:px-0;
    }

    > .wp-block-acf-advanced-accordion {
        @apply font-extended;
        // @apply max-w-[1200px];
        @apply mx-auto;
    }

    > .overlay-hero + .featured-events {
        @apply mt-0;
    }

    > .full-bleed + .full-bleed {
        @apply mt-0;
    }

    .colby-image-text-block {
        @appy mx-auto;
        @apply max-w-screen-2xl;
        p {
            @apply mb-4;
            @apply text-indigo-900;
            @apply font-body;
        }
    }

    .image-grid {
        p.hero__caption {
            @apply text-14;
        }
    }

    .colby-table-block {
        @apply mx-auto;
    }

    > .wp-block-group,
    > .article-grid,
    > .wp-block-heading {
        @apply px-4;
    }

    .wp-block-group__inner-container {
        > div {
            @apply mb-4;
        }
    }

    @include lists();
}

/* statuspage.io system status styles */
.color-description {
    @apply font-body;
    @apply text-indigo-900;
    @apply font-normal;

    display: inline-block !important;
    margin-left: 5px;
}

/* statuspage.io system status styles */
.critical {
    display: inline-block !important;
    background-color: #e74c3c;
    font-family: FontAwesome;
    border-radius: 16px;
    padding: 4px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

.major {
    display: inline-block !important;
    background-color: #e67e22;
    font-family: FontAwesome;
    border-radius: 16px;
    padding: 4px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

.minor,
.maintenance {
    display: inline-block !important;
    background-color: #f1c40f;
    font-family: FontAwesome;
    border-radius: 16px;
    padding: 4px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

.none {
    display: inline-block !important;
    background-color: #2ecc71;
    font-family: FontAwesome;
    border-radius: 16px;
    padding: 4px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

.new {
    padding: 5px;
    color: #fff;
    background-color: #d12124;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 6px;
}

/* skip to main content */
.skip-to-main {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #000;
    text-decoration: none;
    z-index: 1000;
}

.skip-to-main:focus {
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #000;
    text-decoration: none;
    z-index: 1000;
}

.skip-to-main:not(:focus) {
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

@media (max-width: 768px) {
    .colby-image-text-block {
        > div > div {
            flex-basis: auto !important;
        }
    }
}
