{% if in_component_library %}
  {% set table = '@table' %}
{% else %}
  {% set table = 'table.twig' %}
{% endif %}

<div class="table-section py-20 bg-indigo-100">
  <div class="table-section__inner md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <div class="md:col-start-3 md:col-span-8">
      {% include table %}
    </div>
  </div>
</div>