<div class="wysiwyg
  [&>h2]:font-extended [&>h2]:font-normal [&>h2]:text-24 [&>h2]:leading-110 [&>h2]:-tracking-3 [&>h2]:text-indigo [&>h2+p]:mt-2
  [&>h3]:font-extended [&>h3]:font-bold [&>h3]:text-18 [&>h3]:text-indigo [&>h3+p]:mt-2 [&>h3+table]:mt-5
  [&>p]:font-body [&>p]:font-normal [&>p]:text-16 [&>p]:leading-130 [&>p]:text-indigo-900
  [&>p>a]:underline hover:[&>p>a]:no-underline hover:[&>p>a]:text-indigo
  [&>div+div]:mt-20 md:[&>div+div]:mt-[100px] [&>div+h2]:mt-16 md:[&>div+h2]:mt-20
  [&>p+div]:mt-10 md:[&>p+div]:mt-[50px] [&>p+h2]:mt-20 [&>p+h3]:mt-6 [&>p+p]:mt-6 [&>p+table]:mt-10 md:[&>p+table]:mt-[50px]
  [&>table+div]:mt-20 md:[&>table+div]:mt-[50px] [&>table+h2]:mt-20 [&>table+h3]:mt-6 [&>table+p]:mt-6 [&>table+table]:mt-20 md:[&>table+table]:mt-[50px]
">
  {{ post.content }}
</div>