@import '~variables';

.accordion {

  &__panel + &__panel {
    border-top: 1px solid #dcdcdc;
  }

  &__header {
    margin: 0;
  }

  &__button {
    margin: 0;
    border: 0;
    padding: 20px 14px;
    width: 100%;
    background-color: #f4f4f4;
    text-align: left;
    appearance: none;
  }

  &__window {
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .2s ease-in-out;
  }

  &__content {
    padding: 20px 14px;
  }

  p:nth-child(1) {
    margin-top: 0;
  }
}
