

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883407">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883407">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      
<nav aria-label="Breadcrumbs" class="breadcrumbs flex items-center h-9 bg-gray-100 overflow-x-auto">
  <div class="breadcrumbs__inner max-w-screen-2xl w-full px-5 mx-auto">
    <ul class="flex items-center [&>li+li]:ml-5">
      <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
        <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="/">
          <span class="sr-only">Homepage</span>
                <svg class="w-2.5 fill-indigo-800 hover:fill-indigo transition-all duration-200 ease-in-out" viewBox="0 0 11.2 11.2" style="enable-background:new 0 0 11.2 11.2" xml:space="preserve">
      <path d="M6.1.2c-.3-.3-.7-.3-1 0L.2 5.1c-.3.3-.3.7 0 1 .3.3.7.3 1 0l.2-.2v4.6c0 .4.3.7.7.7h1.4c.4 0 .7-.3.7-.7V9.1c0-.4.3-.7.7-.7h1.4c.4 0 .7.3.7.7v1.4c0 .4.3.7.7.7h1.4c.4 0 .7-.3.7-.7V5.9l.2.2c.3.3.7.3 1 0 .3-.3.3-.7 0-1L6.1.2z" />
    </svg>
    
        </a>
      </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">People</a>
        </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Office of the President</a>
        </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Trustees</a>
        </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Lorem Ipsum</a>
        </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Dolar Set Amit</a>
        </li>
              <li class="font-body font-bold text-10 leading-140 text-indigo-800 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo transition-all duration-200 ease-in-out" href="https://welcometruth.com/">Test Link</a>
        </li>
            <li class="font-body font-bold text-10 leading-140 text-indigo whitespace-nowrap">
        <a class="text-indigo hover:text-indigo transition-all duration-200 ease-in-out pr-5" href=""></a>
      </li>
    </ul>
  </div>
</nav>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

