

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883408">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883408">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
        
<div class="featured-post">
  <div class="featured-post__inner relative md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <div class="featured-post__context md:col-start-9 lg:col-start-10 md:col-span-4 lg:col-span-3 md:flex md:order-2 items-center">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-36 leading-110 -tracking-3 text-left text-indigo mt-2">Events</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-18 leading-130 text-left text-indigo-800 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            
            
                

<a class="btn group inline-flex flex-row items-center space-x-1.5 rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal text-12 leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1 px-3.5 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    All Events
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
      <svg class="btn__arrow w-2 h-2 fill-azure" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12" xml:space="preserve">
      <path d="M10 1H.7V0H12v11.7h-1V1.4L.7 12l-.7-.7L10 1z" style="fill-rule:evenodd; clip-rule:evenodd;"/>
    </svg>
  </a>

      </component>
  </div>    </div>
    <div class="featured-post__caption md:z-[-1] md:absolute top-0 right-[20px] md:w-1/2 pb-3.5 md:pb-0 font-extended font-bold text-12 tracking-8 text-azure uppercase text-right border-b md:border-b-0 border-azure border-solid mt-14 md:mt-0">
      <component is="animated-border" class="featured-post__border hidden md:block w-0 h-px md:mb-3.5 bg-azure transition-all duration-200 ease-in-out"></component>
      Allen & Benner
    </div>
    <div class="featured-post__main md:col-span-8">
      <div class="featured-post__image">
                  <picture>
            <source media="(min-width:768px)" srcset="https://via.placeholder.com/760x430">
            <img
              class="w-full h-full object-cover"
              src="https://via.placeholder.com/410x290"
              alt="Test alt"
            />
          </picture>
              </div>
      <div class="featured-post__post relative mt-6">
        
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold text-12 leading-130 tracking-8 text-left text-azure uppercase">June 24, 2022</div>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-20 leading-110 -tracking-3 text-left text-indigo mt-2">Lorem ipsum dolor sit amet, consectet.</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-14 leading-130 text-left text-indigo-800 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            
            
                

<a class="btn group inline-flex flex-row items-center space-x-1.5 rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal text-10 leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1 px-3 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    All Events
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>      </div>
    </div>
  </div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

