

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883408">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883408">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      
  
<div class="hero relative py-20 space-y-16">
  <div class="hero__inner grid md:items-center md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto space-y-16 md:space-y-0">
    <div class="hero__main md:col-start-3 md:col-span-8">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
        
  
<component is="text-group" class="text-group text-group--animated">
      <h1 class="text-group__subheading font-extended font-bold text-14 leading-130 tracking-8 text-center text-azure uppercase">Academics</h1>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-indigo mt-2">Academics headline lorem ipsum dolor sit</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-800 mt-2">Educational exploration is a way of life at Colby. Academics are rigorous, and learning goes way beyond sitting in a classroom—it’s enhanced by new experiences, real-world research, and project-based problem solving across all disciplines.</p>
  </component>

  </div>    </div>
      </div>
    <div class="hero__pattern z-[-1] absolute bg-hero__pattern top-0 left-0 w-full h-full opacity-50 !mt-0"></div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

