

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883408">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883408">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      
  
<div class="icon-section py-24 relative bg-blueslate__pattern bg-cover bg-center space-y-16">
  <div class="icon-section__inner grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <div class="icon-section__context md:col-span-8 md:col-start-3">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold text-18 leading-130 tracking-8 text-center text-canary uppercase">Why Join</div>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-36 leading-110 -tracking-3 text-center text-white mt-2">A global online community awaits.</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-18 leading-130 text-center text-indigo-200 mt-2">Join an exclusive network of talented alumni to build and expand professional relationships.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap justify-center gap-4">
            
            
            

<a class="btn group inline-flex flex-row items-center space-x-1.5 rounded border border-solid border-indigo-800 hover:border-indigo-800 font-body font-normal text-12 leading-130 !no-underline text-white bg-indigo/20   focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1 px-3.5 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Join Now
    <div class="btn__border block bg-white h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>    </div>
  </div>
  <div class="icon-section__inner grid grid-cols-12 gap-x-10 gap-y-16 max-w-screen-2xl w-full px-5 my-0 mx-auto">
          <div class="icon-section__item flex flex-col items-center col-span-6 md:col-span-3">
        <img class="icon-section__image w-40 mb-4" src="" alt="Test alt" />
        
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-white mt-2">Connect</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-200 mt-2">Find and reminisce with fellow graduates, see what they have been up to and stay in touch.</p>
  </component>

  </div>      </div>
          <div class="icon-section__item flex flex-col items-center col-span-6 md:col-span-3">
        <img class="icon-section__image w-40 mb-4" src="" alt="Test alt" />
        
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-white mt-2">Give back</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-200 mt-2">Introduce, employ and offer to act as a mentor to our graduating students.</p>
  </component>

  </div>      </div>
          <div class="icon-section__item flex flex-col items-center col-span-6 md:col-span-3">
        <img class="icon-section__image w-40 mb-4" src="" alt="Test alt" />
        
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-white mt-2">Expand</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-200 mt-2">Leverage your professional network to get introduced to people you should know.</p>
  </component>

  </div>      </div>
          <div class="icon-section__item flex flex-col items-center col-span-6 md:col-span-3">
        <img class="icon-section__image w-40 mb-4" src="" alt="Test alt" />
        
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-center text-white mt-2">Re-connect with classmates</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-center text-indigo-200 mt-2">Colby Connect allows you to use the trusted Colby College environment to expand your professional network.</p>
  </component>

  </div>      </div>
      </div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

