

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883408">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883408">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
          
<div class="intro-context">
  <div class="intro-context__inner md:grid md:grid-cols-12 gap-10 max-w-screen-2xl w-full px-5 mx-auto">
    <div class="intro-context__main  md:col-start-2 md:col-span-5  pt-5 border-t border-azure">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold text-18 leading-130 tracking-8 text-left text-azure uppercase">Dare Northward Overview</div>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-36 leading-110 -tracking-3 text-left text-indigo mt-2">We are taking an integrated, values-led approach to this campaign to reflect the realities of the world we're trying to better. Supporting any one of them will benefit all.</h2>
    </component>

  </div>    </div>
    <div class="intro-context__secondary  md:col-span-5  mt-2 md:mt-0 grid gap-4">
      <div class="font-body font-normal text-18 leading-130 text-indigo-800">
        <p>In 1818, Colby’s early faculty and students sailed up the Kennebec on the sloop Hero to start a college, far north of the established centers of higher learning. Many daring moves followed as Colby grew, struggled, and prospered. Today, the spirit of the Hero’s voyage guides our students, faculty, alumni, and staff to continue to dare northward, challenge themselves, and make an impact on the world.</p><p>Dare Northward leverages our existing strengths to enhance our student’s experiences, improve their outcomes, and produce generations of leaders to tackle the world’s greatest challenges.</p>
      </div>
              
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            
            
                

<a class="btn group inline-flex flex-row items-center space-x-2 rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal text-14 leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1.5 px-4 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Colby Impact
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
          </div>
  </div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

