

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883409">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883409">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      
    
<div class="media-context max-w-screen-2xl w-full my-0 mx-auto">
  <div class="media-context__inner grid grid-cols-8 gap-10">
    <div class="media-context__image col-span-8 md:col-span-4">
                    <picture>
      <source media="(min-width:768px)" srcset="https://via.placeholder.com/800x800">
      <img
        class="w-full object-cover"
        src="https://via.placeholder.com/400x400"
        alt="Test alt"
      />
    </picture>
  
          </div>
    <div class="media-context__context md:flex md:items-center  col-span-8 md:col-span-4">
      
  

  
<div class="context w-full space-y-5">
  

  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold  leading-130 tracking-8 text-left text-azure uppercase">Research</div>
        <h2 class="text-group__heading font-extended    leading-110 -tracking-3 text-left text-indigo mt-2">Go Deeper</h2>
        <p class="text-group__p font-body font-normal   leading-130 text-left text-indigo-800 mt-2">Whether you’re a fan of fish or the future of AI, we have programs dedicated solely to the deeper scholarship of subjects that are already transforming our world.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            

                

<a class="btn group inline-flex flex-row items-center  rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal  leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px]   transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Bigelow Laboratory for Ocean Sciences
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

                

                

<a class="btn group inline-flex flex-row items-center  rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal  leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px]   transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Davis Institute for Artificial Intelligence
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>    </div>
  </div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

