

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883409">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883409">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      
  
<div class="overlay-wide-image max-w-screen-2xl my-0 mx-auto">
  <div class="overlay-wide-image__inner relative md:pb-[45.45454545454545%]">
    <div class="overlay-wide-image__overlay z-10 relative md:absolute top-0 left-0 flex items-center w-full h-full p-9 md:p-24 bg-gray-1000/40">
      
  
  
  
<div class="context w-full space-y-5">
  
            
  
      
  
  
<component is="text-group" class="text-group text-group--animated">
      <div class="text-group__subheading font-extended font-bold text-14 leading-130 tracking-8 text-left text-canary uppercase">Green colby</div>
        <h2 class="text-group__heading font-extended font-normal text-28 md:text-24 leading-110 -tracking-3 text-left text-white mt-2">Sustainability and Stewardship</h2>
        <p class="text-group__p font-body font-normal text-18 md:text-16 leading-130 text-left text-indigo-200 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue pulvinar lectus.</p>
  </component>

      
<component is="button-group" class="button-group flex flex-wrap  gap-4">
            
            
            

<a class="btn group inline-flex flex-row items-center space-x-1.5 rounded border border-solid border-indigo-800 hover:border-indigo-800 font-body font-normal text-12 leading-130 !no-underline text-white bg-indigo/20   focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1 px-3.5 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Go Green at Colby
    <div class="btn__border block bg-white h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>    </div>
          <picture>
      <source media="(min-width:768px)" srcset="https://via.placeholder.com/880x400">
      <img
        class="absolute top-0 left-0 md:top-auto md:left-auto w-full h-full object-cover"
        src="https://via.placeholder.com/400x400"
        alt="Test alt"
      />
    </picture>
  
  </div>
</div>
    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

