

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../styles/tailwind.css?t=1715883410">
    <link media="all" rel="stylesheet" href="../../styles/scripts.css?t=1715883410">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ven5cit.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
        
<div class="widget p-5 bg-gray-100 space-y-3">
    <h2 class="font-extended font-bold text-14 md:text-12 leading-130 text-azure tracking-8 uppercase">
    Contact
  </h2>
  <div class="widget__context
    [&>p]:font-body [&>p]:font-medium [&>p]:text-10 [&>p]:leading-140 [&>p>a]:no-underline hover:[&>p>a]:underline [&>p]:text-indigo-800 hover:[&>p>a]:text-indigo
    [&>ul>li]:font-body [&>ul>li]:font-medium [&>ul>li]:text-10 [&>ul>li]:leading-140 [&>ul>li>a]:no-underline hover:[&>ul>li>a]:underline [&>ul>li]:text-indigo-800 hover:[&>ul>li>a]:text-indigo [&>ul>li]:list-disc
    [&>ul>li]:ml-3 [&>ul>li+li]:mt-2
    space-y-2"
  >
    <p><a href="/">4000 Mayflower Hill<br>Waterville, Maine 04901</a></p><p>207-859-4000</p>
  </div>
      
<component is="button-group" class="button-group flex flex-wrap flex-col items-start gap-4">
            
            
                

<a class="btn group inline-flex flex-row items-center space-x-1.5 rounded border border-solid border-indigo-300 hover:border-indigo-500 font-body font-normal text-10 leading-130 !no-underline text-indigo bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] py-1 px-3 transition-all duration-200 ease-in-out" href="https://welcometruth.com/" >
    <span class="btn__text">
    Download now
    <div class="btn__border block bg-indigo h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  </a>

      </component>
  </div>

    </div>
    <script src="../../scripts.js"></script>
  </body>
</html>

